In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
df=pd.read_csv('MAGICBRICKS (1).csv')
df.head()

,Property Name,Area,Property Price,Location,Bedrooms,Bathrooms,Status,Area Price Persft,Lift,Furniture,Parking,Address,Transaction
0,1 BHK Builder Floor,340 sqft,₹ 21.0 Lac,"Uttam Nagar West ,New Delhi",1 See Dimension,1.0,Ready to Move,"₹ 6,176/sqft",1,Semi-Furnished,None,"Uttam Nagar west Metro Station, Uttam Nagar We...",New Property\nFree Legal Title Check
1,NaN,2267 sqft,NaN,NaN,2,3.0,Under Construction,"₹ 21,614/sqft",NaN,1 Covered,New Property\nFree Legal Title Check,"Moti Nagar, New Delhi - West, Delhi NCR",Dec '24
2,NaN,9000 sqft,NaN,NaN,4,5.0,Ready to Move,"₹ 17,500/sqft",NaN,1 Covered,1 (Out of 4 Floors),"GK I, New Delhi - South, Delhi NCR",New Property\nFree Legal Title Check
3,NaN,4000 sqft,NaN,NaN,4 See Dimensions,5.0,Ready to Move,"₹ 23,750/sqft",1,2 Covered,Ground (Out of 4 Floors),"Vasant Vihar, Vasant Vihar, New Delhi - South,...",Resale\nFree Legal Title Check
4,3 BHK Builder Floor,1120 sqft,₹ 70.0 Lac,"Chhattarpur ,New Delhi",3 See Dimensions,2.0,Ready to Move,"₹ 6,250/sqft",1,1 Covered,2 (Out of 4 Floors),"Chhattarpur New Delhi, Chhattarpur, New Delhi ...",New Property\nFree Legal Title Check

In [4]:
df['Property Name'].nunique()

4

In [5]:
df['Area Price Persft'].value_counts().sum()

1981

In [6]:
area=df.Area.str.replace("sqft","").str.replace("sqyrd","").str.strip().str.replace(",","").astype(float)

In [7]:
area

0        340.0
1       2267.0
2       9000.0
3       4000.0
4       1120.0
         ...
2005     208.0
2006     450.0
2007    1100.0
2008     725.0
2009     500.0
Name: Area, Length: 2010, dtype: float64

In [8]:
df[['units','Bedrooms']]=df["Bedrooms"].str.split(" ",1,expand=True)
df=df.drop(labels=["Bedrooms"],axis=1)
df["Bedrooms"]=df["Bedrooms"].astype(int)

KeyError: 'Bedrooms'

In [ ]:
df[["x","y","z"]]=df["Property Price"].str.split(" ",2,expand=True)
df=df.drop(labels=["Property Price"],axis=1)
df["Property Price"]=df["Property Price"].astype(int)

In [ ]:
df=df.drop(labels=["units"],axis=1)

In [ ]:
df["Bedrooms"]=df["Bedrooms"].astype(float)

In [1]:
df[["currency",'Area Price Persft']]=df["Area Price Persft"].str.split("",1,expand=True)
df=df.drop(labels=["currency"],axis=1)
df[['Area Price Persft',"units"]]=df["Area Price Persft"].str.split("/",1,expand=True)
df=df.drop(labels=["units"],axis=1)

NameError: name 'df' is not defined

In [ ]:
#df['Area Price Persft']=df['Area Price Persft'].astype(int)

In [ ]:
df

In [ ]:
e.columns

In [ ]:
df.info

In [ ]:
df.dtypes

In [ ]:
df.describe(include='all')

In [ ]:
df['Area'].unique()

In [ ]:
df.isnull().sum()

# Fill the Null values

In [ ]:
#catgorical data fill with Mode
#continous data fill with Mean

In [ ]:
mode=df['Property Name'].mode()[0]
print(mode)

df['Property Name'].fillna(mode,inplace=True)

In [ ]:
mode2=df['Area'].mode()[0]
print(mode2)
df['Area'].fillna(mode2,inplace=True)

In [ ]:
mode3=df['Property Price'].mode()[0]
print(mode3)
df['Property Price'].fillna(mode3,inplace=True)

In [ ]:
mode4=df['Location'].mode()[0]
print(mode4)
df['Location'].fillna(mode4,inplace=True)

In [ ]:
mode5=df['Bedrooms'].mode()[0]
print(mode5)
df['Bedrooms'].fillna(mode5,inplace=True)

In [ ]:
mode6=df['Status'].mode()[0]
print(mode6)
df['Status'].fillna(mode6,inplace=True)

In [ ]:
mode7=df['Area Price Persft'].mode()[0]
print(mode7)
df['Area Price Persft'].fillna(mode7,inplace=True)

In [ ]:
mode8=df['Lift'].mode()[0]
print(mode8)
df['Lift'].fillna(mode8,inplace=True)

In [ ]:
mode9=df['Furniture'].mode()[0]
print(mode9)
df['Furniture'].fillna(mode9,inplace=True)

In [ ]:
mode10=df['Parking'].mode()[0]
print(mode10)
df['Parking'].fillna(mode10,inplace=True)

In [ ]:
mode11=df['Address'].mode()[0]
print(mode11)
df['Address'].fillna(mode11,inplace=True)

In [ ]:
mode12=df['Transaction'].mode()[0]
print(mode12)
df['Transaction'].fillna(mode12,inplace=True)

In [ ]:
mean=df['Bathrooms'].mean()
print(mean)
df['Bathrooms'].fillna(mean,inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
plt.rcParams['figure.figsize']=(25,20)
import warnings
warnings.filterwarnings('ignore')

In [ ]:
histcolumns=['Property Name','Status','Bedrooms','Bathrooms','Parking']
histcolumns

In [ ]:
for i in histcolumns:
    print(i)

In [ ]:
for i in histcolumns:
    df[i].hist()
    plt.show()

In [ ]:
sns.countplot(y='Area',data=df)
plt.show()