In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

## Magic bricks data 
* in this data we understand the price on the following effecting columns on various following modelling techniques

In [2]:
df = pd.read_csv("MagicBricks.csv")
df.head()

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0

In [3]:
df.columns

Index(['Area', 'BHK', 'Bathroom', 'Furnishing', 'Locality', 'Parking', 'Price',
       'Status', 'Transaction', 'Type', 'Per_Sqft'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Area         1259 non-null   float64
 1   BHK          1259 non-null   int64
 2   Bathroom     1257 non-null   float64
 3   Furnishing   1254 non-null   object
 4   Locality     1259 non-null   object
 5   Parking      1226 non-null   float64
 6   Price        1259 non-null   int64
 7   Status       1259 non-null   object
 8   Transaction  1259 non-null   object
 9   Type         1254 non-null   object
 10  Per_Sqft     1018 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 108.3+ KB

In [5]:
df.isnull().sum()

Area             0
BHK              0
Bathroom         2
Furnishing       5
Locality         0
Parking         33
Price            0
Status           0
Transaction      0
Type             5
Per_Sqft       241
dtype: int64

In [6]:
df[df.duplicated()]

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
84,1540.0,3,3.0,Semi-Furnished,"Nav Kairali Apartment, Dwarka Sector 3",1.0,14500000,Ready_to_move,Resale,Apartment,3524.0
92,1450.0,3,3.0,Semi-Furnished,Lajpat Nagar 3,2.0,30000000,Ready_to_move,New_Property,Builder_Floor,NaN
110,1000.0,2,2.0,Furnished,Lajpat Nagar 3,1.0,20000000,Ready_to_move,Resale,Apartment,20000.0
120,1500.0,1,NaN,Unfurnished,Lajpat Nagar 2,NaN,13500000,Ready_to_move,Resale,Apartment,NaN
122,1710.0,3,3.0,Semi-Furnished,Lajpat Nagar 2,4.0,26000000,Ready_to_move,New_Property,Builder_Floor,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1164,1300.0,2,2.0,Semi-Furnished,"Yamuna Apartment, Alaknanda",1.0,15000000,Ready_to_move,Resale,Apartment,11538.0
1165,1200.0,2,2.0,Unfurnished,"Nilgiri Apartment, Alaknanda",1.0,14300000,Ready_to_move,Resale,Apartment,11538.0
1166,1300.0,3,2.0,Unfurnished,"Nilgiri Apartment, Alaknanda",1.0,18500000,Ready_to_move,Resale,Apartment,11538.0
1167,1400.0,3,3.0,Furnished,"Tara Apartment, Alaknanda carpet area 1400 sqf...",1.0,19000000,Ready_to_move,Resale,Apartment,11538.0
1168,1400.0,3,3.0,Semi-Furnished,Alaknanda,1.0,19000000,Ready_to_move,Resale,Apartment,11538.0

In [7]:
df = df.drop_duplicates().reset_index(drop=True)

In [8]:
df.drop(labels =[0],axis=0,inplace=True)
df

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0
5,1300.0,4,3.0,Semi-Furnished,Rohini Sector 24,1.0,15500000,Ready_to_move,New_Property,Builder_Floor,6667.0
...,...,...,...,...,...,...,...,...,...,...,...
1171,4118.0,4,5.0,Unfurnished,Chittaranjan Park,3.0,55000000,Ready_to_move,New_Property,Builder_Floor,12916.0
1172,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,3.0,12500000,Ready_to_move,Resale,Builder_Floor,12916.0
1173,875.0,3,3.0,Semi-Furnished,Chittaranjan Park,3.0,17500000,Ready_to_move,New_Property,Builder_Floor,12916.0
1174,990.0,2,2.0,Unfurnished,Chittaranjan Park Block A,1.0,11500000,Ready_to_move,Resale,Builder_Floor,12916.0
1175,11050.0,3,3.0,Unfurnished,Chittaranjan Park,1.0,18500000,Ready_to_move,New_Property,Builder_Floor,12916.0

## Data Cleaning
* In this data cleaning we clean the data on the following columns

In [10]:
df[["Transaction"]]= df["Transaction"].str.split(",",1,expand=True)

In [16]:
df.head()

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0
5,1300.0,4,3.0,Semi-Furnished,Rohini Sector 24,1.0,15500000,Ready_to_move,New_Property,Builder_Floor,6667.0

In [ ]:
for i in range(len(df.area_sft)):
    try:
        splits = df.area_sft[i].strip().split(" ")
        #print(i,splits)
        if splits[1]=='sqft' or splits[1]=='sqyrd':
            df['area_sft'][i] = float(splits[0])
        else:
            df['area_sft'][i] = float(splits[0])
    except:
        continue

In [ ]:
df["area_sft"].fillna(method = "ffill",inplace=True)

In [ ]:
df["area_sft"].fillna(1050.0,inplace=True)

In [ ]:
df["area_sft"]

In [ ]:
df.Price_persft.unique()

In [ ]:
df.Price_persft = df.Price_persft.str.strip('₹')

In [ ]:
df.price_persft = df.Price_persft.str.strip("[',']")

In [ ]:
for i in range(len(df.Price_persft)):
    try:
        splits = df.Price_persft[i].strip().split(",")
        #print(i,splits)
        if splits[1]=='/sqft' or splits[1]=='/SQFT':
            df['Price_persft'][i] = float(splits[0])
        else:
            df['Price_persft'][i] = float(splits[0])
    except:
        continue

In [ ]:
df["Price_persft"].fillna(method = "ffill",inplace=True)

In [ ]:
df["Price_persft"].fillna(11.0,inplace=True)

In [ ]:
df.Price_persft.unique()

In [ ]:
df.head()

In [ ]:
df.price = df.price.str.strip('₹')

In [ ]:
df.price.unique()

In [ ]:
for i in range(len(df.price)):
    try:
        splits = df.price[i].strip().split(" ")
        #print(i,splits)
        if splits[1]=='Cr' or splits[1]=="CR":
            df['price'][i] = float(splits[0])*100
        else:
            df['price'][i] = float(splits[0])
    except:  
        continue

In [ ]:
df.price.unique()

In [ ]:
df["price"]

In [ ]:
df["Bedrooms"].unique()

In [ ]:
for i in range(len(df.Bedrooms)):
    try:
        splits = df.Bedrooms[i].strip().split(" ")
        #print(i,splits)
        if splits[1]=='See Dimensions' or splits[1]=='SEE DIMENSIONS':
            df['Bedrooms'][i] = float(splits[0])
        else:
            df['Bedrooms'][i] = float(splits[0])
    except:
        continue

In [ ]:
df.Parking.unique()

In [ ]:
for i in range(len(df.Parking)):
    try:
        splits = df.Parking[i].strip().split(" ")
        #print(i,splits)
        if splits[1]=='Covered' or splits[1]=='Open':
            df['Parking'][i] = float(splits[0])
        else:
            df['Parking'][i] = float(splits[0])
    except:
        continue

In [ ]:
df = df.astype({"Bedrooms":"float","Bathrooms":"float"})
df.head()

In [ ]:
df.head()

In [ ]:
df.drop(labels=[1076],axis=0,inplace=True)

In [ ]:
df.info()

In [ ]:
df.drop(["Builder","project_name","Amenties","Legal","Area","Address","Super_area","Stonetype","city","Status","Flooring","Lift","City"],axis=1,inplace=True)

# FILL THE MISSING VALUES

In [ ]:
df.isnull().sum()

In [ ]:
df= df.fillna(method = "ffill")
df.head()

In [ ]:
df.isnull().sum()

## EDA AND DATA VISUALIZATION
* In this data we observe the relation between the which factors effecting on the price

## UNIVARIATE (Single variable)

In [ ]:
plt.figure(figsize=(20,10))
sns.displot(df['Bedrooms'])
plt.show()

In [ ]:
sns.displot(df["Bathrooms"])
plt.show()

In [ ]:
sns.displot(df["Transaction"])
plt.show()

In [ ]:
sns.displot(df["Loanoffered"])
plt.show()

In [ ]:
sns.displot(df["area_sft"])
plt.show()

## BI-variate analysis(Two variables)

In [ ]:
plt.figure(figsize=(10,8))
sns.scatterplot(x=df["Bathrooms"],y=df["price"])
plt.show()

In [ ]:
plt.figure(figsize=(10,8))
sns.scatterplot(x=df["Transaction"],y=df["price"])
plt.show()

In [ ]:
plt.figure(figsize=(30,15))
sns.jointplot(y="price",x ="Bathrooms",data=df)
plt.show()

In [ ]:
sns.catplot(y="price",x ="Transaction",data=df,kind="bar")
plt.show()

In [ ]:
plt.figure(figsize=(10,8))
sns.catplot(x="Bedrooms",y="price",kind="bar",data=df)
plt.show()

In [ ]:
sns.catplot(y="price",x ="Transaction",data=df,kind="bar")
plt.show()

In [ ]:
sns.catplot(x="Transaction",y = "price",data=df,kind="bar",hue="Loanoffered")
plt.show()

In [ ]:
plt.figure(figsize=(30,15))
sns.catplot(x="Bathrooms",y="price",data=df,hue ="Parking",kind="bar")
plt.show()

In [ ]:
sns.catplot(x="Bedrooms",y="price",data=df,hue="Parking",kind="bar")
plt.show()

In [ ]:
plt.figure(figsize=(15,10))
sns.catplot(x="Transaction",y="price",data=df,hue="Loanoffered",kind="bar")
plt.show()

In [ ]:
plt.figure(figsize=(20,10))
sns.catplot(x="Transaction",y="price",data=df,hue="Loanoffered")
plt.show()

In [ ]:
sns.pairplot(df)
plt.show()

In [ ]:
df['Parking'].replace('None', np.nan, inplace=True)

In [ ]:
df['Parking'] = df['Parking'].fillna(0)

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
corr = df.corr()
corr

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["Transaction"] = le.fit_transform(df["Transaction"])
df["Furnished"] = le.fit_transform(df["Furnished"])
df["Loanoffered"] = le.fit_transform(df["Loanoffered"])

In [ ]:
df.head()

## Removing Outliers
* we can remove outliers because it causes disturbances in the data

In [ ]:
sns.boxplot(df.Bedrooms)
plt.title("BOXPLOT")
plt.show()

In [ ]:
sns.boxplot(df.Bathrooms)
plt.title("BOXPLOT")
plt.show()

In [ ]:
sns.boxplot(df.Parking)
plt.show()

In [ ]:
sns.boxplot(df.area_sft)
plt.show()

In [ ]:
sns.boxplot(df.Price_persft)
plt.show()

In [ ]:
from feature_engine.outliers import Winsorizer
win = Winsorizer(capping_method ="iqr",tail = "both",fold = 1.5,variables=['Bedrooms'])
win_t = win.fit_transform(df[["Bedrooms"]])
print(win.right_tail_caps_)

In [ ]:
win = Winsorizer(capping_method = "iqr",tail = "both",fold = 1.5,variables=["Bathrooms"])
win_t = win.fit_transform(df[["Bathrooms"]])
print(win.right_tail_caps_)

In [ ]:
win = Winsorizer(capping_method = "iqr",tail = "both",fold = 1.5,variables=["Parking"])
win_t = win.fit_transform(df[["Parking"]])
print(win.right_tail_caps_)

In [ ]:
win = Winsorizer(capping_method = "iqr",tail = "both",fold = 1.5,variables=["area_sft"])
win_t = win.fit_transform(df[["area_sft"]])
print(win.right_tail_caps_)

In [ ]:
win = Winsorizer(capping_method = "iqr",tail = "both",fold = 1.5,variables=["Price_persft"])
win_t = win.fit_transform(df[["Price_persft"]])
print(win.right_tail_caps_)

# Modelling

### Polynomial Regression

In [ ]:
x = df.drop(columns =["price","Location"])
y = df["price"]

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
polynomial_converter = PolynomialFeatures(degree=2,include_bias = False)

In [ ]:
x_poly = polynomial_converter.fit_transform(x)

In [ ]:
x_poly.shape

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_poly,y,test_size=0.20,random_state=5)
print(len(x_train),len(x_test))

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(x_train)
X_train_std = sc.transform(x_train)
X_test_std = sc.transform(x_test)

In [ ]:
from sklearn.linear_model import LinearRegression
model1 = LinearRegression()
model1.fit(x_train,y_train)

In [ ]:
train_predictions = model1.predict(x_train)
test_predictions = model1.predict(x_test)

In [ ]:
train_res = y_train-train_predictions
test_res = y_test-test_predictions

In [ ]:
model1.score(x_train,y_train)

In [ ]:
model1.score(x_test,y_test)

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model1,x,y,cv=4)
scores

abs(scores.mean())

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
MSE = mean_squared_error(y_test,test_predictions)
MSE

In [ ]:
RMSE = np.sqrt(MSE)
RMSE

# Linear Regression

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=10)
print(len(x_train),len(x_test))

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(x_train)
X_train_std = sc.transform(x_train)
X_test_std = sc.transform(x_test)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)

In [ ]:
train_predictions = lr.predict(x_train)
test_predictions = lr.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
test_RMSE =np.sqrt(mean_squared_error(y_test,test_predictions))
train_RMSE = np.sqrt(mean_squared_error(y_train,train_predictions))
print(train_RMSE,test_RMSE)

In [ ]:
lr.score(x_train,y_train)

In [ ]:
lr.score(x_test,y_test)

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(lr,x,y,cv=5)
print(scores)
scores.mean()

# Linearity Of Errors

In [ ]:
test_res = y_test-test_predictions

In [ ]:
plt.scatter(y_test,test_res)
plt.xlabel("Observed Values")
plt.ylabel("fitted_values")
plt.show()

# Normality of errors

In [ ]:
sns.distplot(test_res,bins=15,kde=True)
plt.show()

# Equal variance of errors

In [ ]:
plt.scatter(test_predictions,test_res,c="r")
plt.axhline(y=0,color="blue")
plt.xlabel('fitted values')
plt.ylabel("residuals")
plt.show()

# ANN

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.20,random_state=0)

In [ ]:
import tensorflow as tf
import keras

In [ ]:
ann = tf.keras.models.Sequential()

In [ ]:
ann.add(tf.keras.layers.Dense(units = 6 , activation="relu"))

In [ ]:
ann.add(tf.keras.layers.Dense(units = 6 , activation="relu"))

In [ ]:
ann.add(tf.keras.layers.Dense(units = 1))

In [ ]:
ann.compile(optimizer = "adam",loss = "mean_squared_error")

In [ ]:
ann.fit(x_train,y_train,batch_size = 32 , epochs = 50)

In [ ]:
y_pred = ann.predict(x_test)
np.set_printoptions(precision=2)

In [ ]:
y_test = y_test.to_numpy()

In [ ]:
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

In [ ]:
# EVALUATE MODEL IN THE TEST SET
score_mse_train = ann.evaluate(x_train, y_train)
print('Train MSE Score:', score_mse_train)

# EVALUATE MODEL IN THE TRAIN SET
score_mse_test = ann.evaluate(x_test, y_test)
print('Test MSE Score:', score_mse_test)

In [ ]:
# EVALUATE MODEL IN THE TEST SET
score_rmse_train = np.sqrt(score_mse_train)
print('Train RMSE Score:', score_rmse_train)

# EVALUATE MODEL IN THE TRAIN SET
score_rmse_test = np.sqrt(score_mse_test)
print('Test RMSE Score:', score_rmse_test)

# Random Forest Regression

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=10)
print(len(x_train),len(x_test))

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(x_train)
X_train_std = sc.transform(x_train)
X_test_std = sc.transform(x_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rf = RandomForestRegressor()
# fit the model
rf.fit(x_train, y_train)
# predict the prices of X_test
rf_pre =rf.predict(x_test)

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
print('Random Forest Regressor accuracy: ')
crossr = cross_val_score(estimator = rf, X = x_train, y = y_train, cv = 5,verbose = 0)
mser = mean_squared_error(y_test, rf_pre)
rmser = mean_squared_error(y_test, rf_pre)**0.5
maer = mean_absolute_error(y_test, rf_pre)

print('Cross val     : ',crossr)
print('MAE           : ', maer)
print('MSE (RMSE)    : ', mser,' (',rmser,')')

# Real Time Predictons

In [ ]:
x_test.head()

In [ ]:
x_test.iloc[0]

In [ ]:
rf.predict([x_test.iloc[0]])

In [ ]:
rf.predict([[4.0,4.0,1.0,1.0,2.0,1.0,1045.0,20.0]])